<a href="https://colab.research.google.com/github/WooShinJeon/Python25Study/blob/master/%EC%97%B0%EC%8A%B51.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 숫자형
# Number 타입 : 정수, 실수, 2진수,

a = 123
print(a)

123

In [1]:
# multistring.py

print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

In [12]:
# 슬라이싱

a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
print(a[3])
print(b)
print(a[19:])

c = "20251030Sunny"
year = c[:4]
month = c[4:6]
day = c[6:8]
weather = c[8:]
print(year)
print(month)
print(day)
print(weather)

e
Life
You need Python
2025
10
30
Sunny

In [14]:
"I eat %d apples." % 3

'I eat 3 apples.'

In [16]:
"I eat %s apples." % "two"

'I eat two apples.'

In [17]:
number = 10
day = "three"
"I ate %d apples, so I was sick for %s days." % (number, day)

'I ate 10 apples, so I was sick for three days.'

In [19]:
number = 10
day = "three"
"I ate {0} apples, so I was sick for {1} days." .format(number, day)

'I ate 10 apples, so I was sick for three days.'

In [20]:
name = "홍길동"
age = "30"
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'